$TTL    604800
@       IN      SOA     {{ dns_server }}.{{ base_domain }}. contact.{{ base_domain }} (
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Minimum
)
        IN      NS      {{ dns_server }}

{{ dns_server }}.{{ base_domain }}.          IN      A       {{ dns_server_bind_listen_ip }}

; Temp Bootstrap Node
{{ bootstrap_node.name }}.{{ cluster_domain }}.        IN      A      {{ bootstrap_node.ip }}

; Control Plane Nodes
{% for node in control_plane_nodes %}
{{ node.name }}.{{ cluster_domain }}.         IN      A      {{ node.ip }}
{% endfor %}

; Worker Nodes
{% for node in worker_nodes %}
{{ node.name }}.{{ cluster_domain }}.        IN      A      {{ node.ip }}
{% endfor %}

; OpenShift Internal - Load balancer
api.{{ cluster_domain }}.        IN    A    {{ load_balancer_ip }}
api-int.{{ cluster_domain }}.    IN    A    {{ load_balancer_ip }}
*.apps.{{ cluster_domain }}.     IN    A    {{ load_balancer_ip }}

; ETCD Cluster
{% for node in etcd_nodes %}
{{ node.name }}.{{ cluster_domain }}.    IN    A     {{ node.ip }}
{% endfor %}

; OpenShift Internal SRV records (cluster name = {{ cluster_name }})
_etcd-server-ssl._tcp.{{ cluster_domain }}.    86400     IN    SRV     0    10    2380    etcd-0.lab
_etcd-server-ssl._tcp.{{ cluster_domain }}.    86400     IN    SRV     0    10    2380    etcd-1.lab
_etcd-server-ssl._tcp.{{ cluster_domain }}.    86400     IN    SRV     0    10    2380    etcd-2.lab

oauth-openshift.apps.{{ cluster_domain }}.     IN     A     {{ load_balancer_ip }}
console-openshift-console.apps.{{ cluster_domain }}.     IN     A     {{ load_balancer_ip }}
